@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

html,
body {
  background: #c7cde4;
  color: #3b4345;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

[data-theme="dark"],
[data-theme="dark"] body {
  background: #212627;
  color: #b8c0d3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: 0.1s;
}

.fade {
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.fade.show {
  opacity: 1;
  pointer-events: auto;
}

.intro-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  filter: contrast(0.75); /* Reduce contrast to 75% */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
